/* setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
/* header*/
  header {
    width: 100vw;}

  a{
    text-decoration: none;
    color: #000;

 }
li{
  display: inline-block;

}
nav{
  display: inline-block;
  word-spacing: 10px;
}

.logo{
  display:inline-block;
  text-align: left;
  padding: 30px;
  
}
.nav-center .nav-footer{
  text-align: center;

}
.nav-right{
  text-align: right;
  padding: 10px;
 } 

.logo,
nav{
  width: calc(100%/3);
  margin: 0 -2px;
}
button{
 text-align: center;
 border-radius: 25px 25px;
 border: solid 1px white;
 padding: 10px 30px ;
 text-transform: uppercase;
 display: inline-block;

 
}
.button-white{
  background-color: white
  color:#000;
}
  .button-black{
    color: white;
    background-color:#000;
  }
  

  